<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<div class="container">

  <div class="card-product">
    <img src="https://images.unsplash.com/photo-1504911539020-cfb0f7887a5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=60" />
      <div class="d-flex justify-content-between">
        <div>
      <h2>PetSitter name</h2>
      <p>Début de la description</p>
</div>
<div>
      <p>10€/j</p>
      <p>available</p>
    </div>

  </div>

</div>

<%= link_to "Test", "#", class: "btn button-basic" %>


