<div class="banner">
  <div class="container p-3">
    <h1>Je cherche une garde pour </h1>
    <div class="d-flex">
      <h2>Mon animal</h2>
      <p>à</p>
      <h2>Localisation</h2>
    </div>
    <div class="d-flex">
      <p>du</p>
      <h2>01/01/2020</h2>
      <p>au</p>
      <h2>02/01/2020</h2>
    </div>
    <%= link_to "Je trouve ma garde !", users_path, class: "btn button-basic" %>
  </div>
</div>
