
<div class="banner home-search">
  <div class="container p-3">
    <%= form_with url: petsitters_path, method: "GET", local: true do |f| %>
      <h1>Je cherche une garde pour </h1>
      <div class="d-flex align-items-center">
        <%= f.select(:type_animal, @species.collect {|m| [ m.type_animal] },  {}, class: "select2", multiple: true) %>
        <p>à</p>
        <%= f.text_field :search, id: "user_city", placeholder: "lieu" %>
      </div>
      <div class="d-flex">
        <p>du</p>
        <h2>01/01/2020</h2>
        <p>au</p>
        <h2>02/01/2020</h2>
      </div>
      <%= f.submit "", value: "Je trouve ma garde !", class: "btn button-basic" %>
    <% end %>
  </div>
</div>
