<div class="banner">
  <div class="container p-3">
    <h1>Je cherche une garde pour </h1>
    <h2>mon animal</h2>
    <p>à</p>
    <h2>localisation</h2>
    <p>du</p>
    <p>au</p>
  </div>
</div>


