// Form for Sign Up User
.form-card {

  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 8px 9px 15px rgba(0,0,0,0.2);
  .form-img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    opacity: 0.76;
    border-radius: 5px 0px 0px 5px;
  }
  .form-infos {
    background-color: $form-color;
    border-radius: 0px 5px 5px 0px;
    .form-inputs, .form-actions {
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
      margin-bottom: 40px;
    }
    ::placeholder {
      color: #EBD0CE;
    }
    p {
      position: absolute;
      bottom: 5px;
    }
    a {
      text-decoration: none;
      color: $violet;
    }

  }
}

.form-group {
  margin-bottom: 0;
  .invalid-feedback {
    display: none;
  }
}

.input-group {
  .input-group-prepend {
    .input-group-addon {
      padding: 7px;
      background: $middle-pink;
      color: white;
      min-width: 40px;
      text-align: center;
    }
  }
}

.form-control:focus{
  box-shadow: 0 0 0 .2rem #EABFCB;
  border-color: #EABFCB;
}

.icon {
  height: 38px;
}

// Form for Animal
.animal_form {
  background-color: $form-color;
  padding: 28px;
  border-radius: 0px 5px 5px 0px;
  margin: 20px 0;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.specie_choices {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  background-color: white;
  border-radius: 6px;
}

.specie_choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(235, 208, 206);
  height: 136px;
  width: 144px;
  margin:5px;
  border-radius: 4px;
  opacity: 0.4;
  &:hover{
    opacity: 1;
    cursor: pointer;
  }
  &.active {
    opacity: 1;
  }
}

.image_choice {
  position: relative;
  height: 80px;
  width: 80px;
  top: 15px;
}

input[type="radio"] {
  position: relative;
  bottom: -29px;
}

.photo_animal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 }

.photo_animal > input
{
  display: none;
}

.photo_animal img
{
  width: 200px;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

// Form for User

.photo_user{
  text-align: center;
  align-self: center;
}

.photo_user img
{
  width: 100px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}


input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

// Form multi steps
.multisteps-form__progress {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.multisteps-form__progress-btn {
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  position: relative;
  padding-top: 20px;
  color: rgba(108, 117, 125, 0.7);
  text-indent: -9999px;
  border: none;
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
}

@media (min-width: 500px) {
  .multisteps-form__progress-btn {
    text-indent: 0;
  }
}

.multisteps-form__progress-btn:before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 13px;
  height: 13px;
  content: '';
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  border: 2px solid currentColor;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 3;
}

.multisteps-form__progress-btn:after {
  position: absolute;
  top: 5px;
  left: calc(-50% - 13px / 2);
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: block;
  width: 100%;
  height: 2px;
  content: '';
  background-color: currentColor;
  z-index: 1;
}

.multisteps-form__progress-btn:first-child:after {
  display: none;
}

.multisteps-form__progress-btn.js-active {
  color: $violet;
}

.multisteps-form__progress-btn.js-active:before {
  -webkit-transform: translateX(-50%) scale(1.2);
          transform: translateX(-50%) scale(1.2);
  background-color: currentColor;
}

.multisteps-form__form {
  position: relative;
}

.multisteps-form__panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.multisteps-form__panel.js-active {
  height: auto;
  opacity: 1;
  visibility: visible;
}

.multisteps-form__panel[data-animation="scaleIn"] {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.multisteps-form__panel[data-animation="scaleIn"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

